{% extends 'base.html'%}
{% load static %}
{% block body%}
<h1 class="text-center mt-2">Liste des videos trouvées</h1>
<hr>
<div class="container" >
    <div class="row">
        {% for video in list_videos %}
        <div class="col-12 col-md-6 mt-5  col-lg-3 col-xl-3">
            <div class="card" >
                <h3 class="text-center mt-2 mb-2">{{video.caption}}</h3>
                <video class="embed-responsive embed-responsive-16by9" controls="controls" style="height: 280px" >
                <source src="{{video.video.url}}" type="video/mp4"/>
                </video>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'detial' video.id %}">{{video.caption}}</a></h4>
                </div>
            </div>
        </div>                                                                                
                                      
          {% endfor %}
</div>
{% endblock %}