{% extends 'base.html'%}
{% load static %}
{% block body%}
{% load i18n %}


<hr class="" style="width:2080px;height: 128px;color: green;" >

<div class="container">
    <div class="title">{{title}}</div>
    <hr style="color: red; height: 7px;">
          

<a href="{% url 'add-pub' %}" class="text-center"><strong>Ajouter une publication</strong></a>
<hr style="color: red;height: 4px;">
    
    <div class="row">
        {%for item in items%}
        <div class="col-12 col-md-6 mt-2 mt-5  col-lg-3 col-xl-3">
          
            <div class="card">
                    <h4 class="card-title"><a href="{% url 'detail' item.pk %}">{{item.titre}}</a></h4> 

                <a href="{% url 'detail' item.pk %}">
                    <img class="card-img-top" src={{item.image.url}} alt=" " style="height: 280px;">
                </a>                  
                <div class="card-body">            
        </div>            
                    {% language 'fr' %}
                    <p class="card-text" ><strong>{{item.description|truncatewords:5}}</strong></p>
                    <hr>
                    <p class="card-text" style="color:rgb(12, 8, 248)"><strong>Publié le {{item.times}}</strong></p>
                    <p class="card-text" style="color:rgb(248, 8, 8)"><strong>par : {{  item.user}}</strong></p>
                    <a href="{% url 'detail' item.pk %}" class="btn btn-primary"style="color:yellow">Lire la suite</a>
                    {% endlanguage %}
                </div>
            </div>                
        {% endfor%}
        
        


    
   </div>
   {% include "pagination.html" %}
</div>


{% endblock %}