{% extends 'base.html'%}

{% block body%}
<hr class="" style="width:2080px;height: 128px;color: green;" >

<div class="container mt-5">
    <h4 class="  mt-5"><a href="{% url 'public' %}">&laquo Page précédente</a></h4>
    <div class="row">
        <div class="col-md-8 mt-6">
            
            <hr style="color: red; height: 7px;">
            <div class="title">{{title}}</div>
            <hr style="color: red;height: 4px;">
            <h2 class="text-center" style="color: darkblue;">{{article.titre}}</h2>
            <img src="{{article.image.url}}" alt="" style="width: 750px;height: 528px;">
            <br>
            
            <p>{{article.description|linebreaks}}</p>
        </div>
        </div>
    </div>


</div>



{% endblock %}






