{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<hr class="" style="width:2080px;height: 128px;color: green;" >
<div class="center text-center mt-5">
  <a href="{% url 'display111' %}" class="btn btn-info btn-md me-5" role="button"><strong>Engrais</strong></a>
<a href="{% url 'display1111' %}" class="btn btn-info btn-md me-5" role="button"><strong>Pesticides</strong></a>
</div>
<hr class="" style="width:2080px;height: 20px;">
<div class="container">
  <div class="title">{{title}}</div>
    <div class="row">
        <div id="carouselExampleControls " class="carousel slide bg-light" data-bs-ride="carousel" style="width: 300px;">
        <div class="carousel-inner mt-2" style="max-width: 500px;">

      <div class="carousel-item active">
        <img src="{% static 'img/nytos.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>

      <div class="carousel-item ">
        <img src="{% static 'img/epi.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'img/pestecide.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'img/phytos11.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>
      <div class="carousel-item  ">
        <img src="{% static 'img/tecide.jpg' %}" class="d-block w-15 " alt="" style="height: 200px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'img/confidor.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'img/valmec.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'img/movinto.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'img/karate.jpg' %}  " class="d-block w-15" alt="" style="height: 200px;">
      </div>

    </div>
  </div>
    <hr class="" style="height: 10px;color: darkorange;">

    <h4 class=" text-center" style="color:blue">Mise à jour : chaque lundi</h4>
  
  
  <hr class="" style="height: 10px;color:rgb(49, 139, 13)">
  <div class="center text-center">
  {% if header == "Pesticide_berhils" %}
  <h2 class="mt-2" style="color: rgb(247, 7, 7);">Domaine : Ouled berhil</h2>
  <a href="{% url 'export_mobile1111' %}" class="btn btn-danger me-5 mt-5" role="button">Exporter</a>
  {% elif header == "Pesticide_drisses" %}
  <h2 class="mt-2" style="color: rgb(255, 4, 4);">Domaine : Ouled drisse</h2>
  <a href="{% url 'export_mobile2222' %}" class="btn btn-danger me-5 mt-5" role="button">Exporter</a>
  {% elif header == "Pesticide_Aoulouzs" %}
  <h2 class="mt-2" style="color: rgb(255, 7, 7);">Domaine : Aoulouz</h2>
  <a href="{% url 'export_mobile3333' %}" class="btn btn-danger me-5 mt-5" role="button">Exporter</a>
  {% elif header == "Pesticide_Mariems" %}
  <h2 class="mt-2" style="color: rgb(255, 7, 7);">Domaine : Mariem</h2>
  <a href="{% url 'export_mobile4444' %}" class="btn btn-danger me-5 mt-5" role="button">Exporter</a>
  {% elif header == "Pesticide_Rgaigues" %}
  <h2 class="mt-2" style="color: rgb(255, 7, 7);">Domaine : Rgaigue</h2>
  <a href="{% url 'export_mobile5555' %}" class="btn btn-danger me-5 mt-5" role="button">Exporter</a>
  {% endif %}
</div>
</div>
<hr class="" style="height: 10px;color: darkorange;">

<div class="col text-center">
  <div class="button-group">
    <a href="{% url 'display1111' %}" class="btn btn-success btn-md " role="button">Pesticide_Berhil</a>

    

    <a href="{% url 'display2222' %}" class="btn btn-success btn-md " role="button">Pesticide_Driss</a>

    


    <a href="{% url 'display3333' %}" class="btn btn-success btn-md" role="button">Pesticide_Aoulouz</a>

    
    <br >
<a href="{% url 'display4444' %}" class="btn btn-success btn-md mt-2" role="button">Pesticide_Mariem</a>

    
    <a href="{% url 'display5555' %}" class="btn btn-success btn-md mt-2" role="button">Pesticide_Rgaigue</a>


  </div>
</div>
  <main role="main" class="container mt-2">

    <div class="bg-light p-1 rounded">
      
      <form method='POST' action=''>{% csrf_token %}
        {{form|crispy}}
        <input class="mt-2" type="submit" value='Chercher' />
    </div>

    </form>

    <table class="table table-hover mt-2 ">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Date</th>
          <th>Entrée</th>
          <th>Cumul_entrée</th>
          <th>Sortie</th>
          <th>Cumul_sortie</th>
          <th>Stock</th>



        </tr>
      </thead>
      <tbody>
        {% for ordere in orderes %}
        <tr>
          <td>{{ ordere.pk }}</td>
          <td>{{ ordere.category}}</td>
          <td>{{ ordere.date}}</td>
          <td>{{ ordere.entree}}</td>
          <td>{{ ordere.cumul_entree }}</td>
          <td>{{ ordere.sortie }}</td>
          <td>{{ ordere.cumul_sortie}}</td>
          <td>{{ ordere.stock }}</td>


          

        {% endfor %}

      </tbody>



    </table>
  </main>
  <br>
</div>
{% endblock %}