{% extends 'base.html' %}

{% block body %}
<hr class="" style="width:2080px;height: 120px;color: greenyellow;">
<h2 class="text-center" style="color: darkblue;">Groupe HAILALI</h2>
<div class="container">
          <form method="POST">
                    <br>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                              <label for="id_{{field.name}}" class="col-2 col-form-label"><strong style="color: firebrick;">{{ field.label}}  : </strong> </label>
                              <div class="col-10">
                                        {{ field }}
                              </div>
                              
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" name="button">Ajouter autre dépense</button>
          </form>
</div>
{% endblock %}